.App {
  text-align: center;
}

body {
  background-color: #999;
  color: aliceblue;
}

.inp-2{
  margin: 10px 0;
  height: 250px;
  overflow: scroll;
}

.post {
  border: 2px solid white;
  margin: 10px;
  border-radius: 5px;
}

.iconsWrap {
  display: flex;
  justify-content: space-around;
}

.iconsWrap span:hover {
  color: yellow;
}

.post-title {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
}

.dttm {
  font-size: 16px;
  text-align: right;

}

button {
  margin: 10px;
}
